.TodoContainer {
    display: flex;
    flex-direction: row;
    border: solid ;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 10px;
}

.ItemDesc {
    padding-left: 10px;
    font-size: 16pt;
}

.Checked {
    text-decoration: line-through;
}

.Todo {
    display: flex;
    flex-direction:column;
    padding: 5rem 10rem;
    min
}

.ResetButton {
    display: flex;
    margin: 10px;
    justify-content: end;
}

button {
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
}